@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
/* Disease and cure */
.diseaseandcure{
    display: flex;
    background-color: #FFA53A;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    height: 57px;
    margin-top: 60px;
    align-items: center;
    box-shadow: 5.84493px 6.67992px 20.0398px rgba(228, 127, 8, 0.49);
    
    
}
.diseaseandcure h1{
   
    margin-left: 558px;
}
.container {
    display: flex;
    align-items: center;
  }
  
  .image {
    width: 200px; 
    height: 200px;
    margin-left: 131px;
    margin-top: 136px;
    box-shadow: 5.84493px 6.67992px 20.0398px rgba(181, 177, 173, 0.49);
  }
  
  .content {
    margin-left: 116px; 
    margin-top: 143px;
    margin-right: 84px;
    

  }
  
  .container h1 {
    font-size: 25px; 
    margin-bottom: 10px; 
    color: #f9b96c;
  }
  .end p{
    text-align: center;
    
    margin-top: 100px;
 
    margin-bottom: 50px;
    color: #ababab;
    font-size: 13px;

  }
  
  
  
  
  
  





